<!-- Loader Overlay -->
<div class="loader-overlay">
  <div class="loader-container">
    <img src="/main-logo-wbg.png" alt="Ruchi The Makeup Studio" class="logo-loader">

    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <p class="loading-text">{{this.dataStore.messageBanner != '' ? this.dataStore.messageBanner : 'Enhancing your beauty…'}}</p>
  </div>
</div>

<!-- Your Website Content -->
<div class="page-content">
  <!-- Your normal website content here -->
</div>
