.logo-main{
    background-image: url('../src/assets/main-logo-wbg.png');
}

.gradient-text {
    background: linear-gradient(135deg, #d61464 0%, #ff7aa2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bounce {
    animation: bounce 2s ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    /* 25% {
        transform: translateY(-5px);
    }
    75% {
        transform: translateY(-5px);
    } */
}